.subcategory
    ul.subcategory__list
        li.subcategory__item
            a.subcategory__link(href="#")
                .subcategory__cover
                p.subcategory__heading Классика
            .subcategory__filter
                p.subcategory__filter-title По&nbsp;размеру:
                ul.subcategory__filter-list
                    - var values = ['120см', '150см', '180см', '220см', '250см', 'Показать все'];
                        each val in values
                            li.subcategory__filter-item
                                a.subcategory__filter-link(href="#")= val
        li.subcategory__item
            a.subcategory__link(href="#")
                .subcategory__cover
                p.subcategory__heading Литая Люкс
            .subcategory__filter
                p.subcategory__filter-title По&nbsp;размеру:
                ul.subcategory__filter-list
                    - var values = ['120см', '150см', 'Показать все'];
                        each val in values
                            li.subcategory__filter-item
                                a.subcategory__filter-link(href="#")= val
        li.subcategory__item
            a.subcategory__link(href="#")
                .subcategory__cover
                p.subcategory__heading Литая Премиум
            .subcategory__filter
                p.subcategory__filter-title По&nbsp;размеру:
                ul.subcategory__filter-list
                    - var values = ['120см', '150см', '180см', '220см', '250см', 'Показать все'];
                        each val in values
                            li.subcategory__filter-item
                                a.subcategory__filter-link(href="#")= val
        li.subcategory__item
            a.subcategory__link(href="#")
                .subcategory__cover
                p.subcategory__heading Литая Голубая Элит
            .subcategory__filter
                p.subcategory__filter-title По&nbsp;размеру:
                ul.subcategory__filter-list
                    - var values = ['120см', '150см', '180см', '220см', '250см', 'Показать все'];
                        each val in values
                            li.subcategory__filter-item
                                a.subcategory__filter-link(href="#")= val
        li.subcategory__item
            a.subcategory__link(href="#")
                .subcategory__cover
                p.subcategory__heading Литая Сказка
            .subcategory__filter
                p.subcategory__filter-title По&nbsp;размеру:
                ul.subcategory__filter-list
                    - var values = ['120см', '150см', '180см', 'Показать все'];
                        each val in values
                            li.subcategory__filter-item
                                a.subcategory__filter-link(href="#")= val